@tailwind base;
@tailwind components;
@tailwind utilities;

.tree-line {
    position: relative;
}
.tree-line::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ef4444; /* red-500 */
}
